<ion-header>
  <ion-toolbar>
    <ion-title>
      Leave Reports
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-title class="title">Waste Management System</ion-title>
      <ion-grid>
        <ion-row>
            <ion-col size="4" offset="4">
              <ion-img src="../../assets/images/wms-logo.png" alt="logo"></ion-img>
            </ion-col>
       </ion-row>
    </ion-grid>

    <ion-card  >
      <ion-title class="card-title">List of Previous Applications</ion-title>
      <ion-list *ngFor ="let lev of attendanceLeaves">
          <ion-item [routerLink]="['/leave-details']">
            <ion-label>{{lev.status}}</ion-label>
            <p slot="end">{{lev.date}}</p>
          </ion-item>
      </ion-list>
    </ion-card>
  </ion-content>