<ion-content [fullscreen]="true">
  <ion-title>Waste Management System</ion-title>

    <ion-grid>
      <ion-row>
          <ion-col size="4" offset="4">
            <ion-img src="../../assets/images/wms-logo.png" alt="logo"></ion-img>
          </ion-col>
     </ion-row>
  </ion-grid>

  <ion-card>
    <form [formGroup]="loginForm">
    <ion-item class="round">
      <ion-icon name="mail-outline" color="primary" slot="start"></ion-icon>
      <ion-input type="email" formControlName="email" placeholder="Email" required></ion-input>
      <span class="has-error" *ngIf="emailError()">{{emailError()}}</span>
    </ion-item>
    <ion-item class="round">
      <ion-icon name="lock-closed-outline" color="primary" slot="start"></ion-icon>
      <ion-input type="password" formControlName="password" placeholder="Password" required></ion-input>
      <span class="has-error" *ngIf="passwordError()">{{passwordError()}}</span>
    </ion-item>
      <ion-card-content class="bold-text">Forgot Password?</ion-card-content>
    <button class="back" [disabled]="processingReq" (click)="login()">Login</button>
  </form>

  
    <ion-card-content>
      Don't have an account?
    </ion-card-content>
    <ion-card-content class="bold-text">
      Register
    </ion-card-content>
  </ion-card>
 
  
</ion-content>