.main-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: table;
  width: 100%;
  background: #ffffff;
  .main-child {
    display: table-cell;
    vertical-align: middle;
    img.logo {
      height: 100px;
      margin-bottom: 20px;
    }
    mat-error {
        margin: 5px 0 0 -10px;
    }
  }
}

.pin {
  input {
    font-family: PrimaryFontRegular;
    font-size: 14px;
    border: 1px #d9dbe2 solid;
    padding: 8px 12px;
    border-radius: 4px;
    height: 35px;
    min-width: 120px;
    background: white;
    height: 42px !important;
  }
  a.disabled {
    color: gray;
    cursor: not-allowed;
  }
  .error {
    color: #f44336;
    margin: -10px 0 10px;
  }
  margin: 5px 0px;
  ul {
    margin: 10px 0px;
    li {
      display: inline-block;
      margin: 0px 5px;
      input {
        width: 42px !important;
        min-width: 42px !important;
        margin: auto;
        text-align: center;
        box-shadow: 0px 0px 5px #4851b4;
        border: 1px #4851b4 solid;
        &:focus {
          border: 1px #4851b4 solid;
        }
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }

      input[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }
  h5 {
    margin: 0px;
    font-size: 14px;
  }
  p {
    font-size: 16px;
    margin-bottom: 7px;
  }
  a {
    margin: 0px;
  }
}
.verify-bottom {
  text-align: center;
  margin-bottom: 30px;
  .btn {
    min-width: 122px;
    margin: auto;
  }
}

mat-form-field {
  font-size: 14px;
}

@media only screen and (min-width: 769px) {
  .overlay-screen {
    border-radius: 4px;
  }
}
@media only screen and (max-width: 374px) {
  .overlay-screen .pin {
    margin: 20px 0px;
  }
  .overlay-screen .pin ul {
    margin: 10px 0px;
  }
  .overlay-screen .title {
    margin-top: 15px;
  }
}
