
<ion-app>
<ion-header>
  <ion-toolbar>
  <ion-title>
    Reset Password
  </ion-title>
</ion-toolbar>
  </ion-header>
   <ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
          <ion-col size="6" offset="4">
            <ion-img src="../../assets/images/lab_logo.png" alt="logo"></ion-img>
          </ion-col>
     </ion-row>
  </ion-grid>

  <ion-card>

    <ion-card-title class="card-title">Create New Password</ion-card-title>

    <ng-container *ngIf="invalidLink">
      <ion-card-title class="card-title">
        Failed!
      </ion-card-title>
      <ion-card-content class="bold-text">
        The link is invalid or expired!
      </ion-card-content>
      <ion-card-content routerLink="/auth/forgot-password" class="bold-text">
        Request New Link
      </ion-card-content>
    </ng-container>

    <ng-container *ngIf="!invalidLink">
      <form class="forms-sample" [formGroup]="resetForm">
      <div class="form-group">
      <ion-item class="round">
        <ion-icon name="lock-closed-outline" color="primary" slot="start"></ion-icon>
        <ion-input type="password" class="form-control" id="password" placeholder="Password"
        formControlName="password"></ion-input>
        
      </ion-item>
      <p class="text-danger mt-1"
                    *ngIf="resetForm.controls.password.touched || resetForm.controls.password.dirty">
                    {{ passwordError() }}</p>
        </div>
    <div class="form-group">
      <ion-item class="round">
        <ion-icon name="lock-closed-outline" color="primary" slot="start"></ion-icon>
        <ion-input type="password" class="form-control" id="confirmPassword" placeholder="confirm Password"
        formControlName="confirmPassword"></ion-input>
        
      </ion-item>
      <p class="text-danger mt-1"
                    *ngIf="resetForm.controls.confirmPassword.touched || resetForm.controls.confirmPassword.dirty">
                    {{ confirmPasswordError() }}</p>  
    </div>
      <button type="button" class="back" [disabled]="resetForm.invalid || loading" (click)="resetPassword()">Reset Now</button>
    </form>
    </ng-container>
  
  </ion-card>
  </ion-content>
</ion-app>