  <ion-header>
    <ion-toolbar>
      Colors Page
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row *ngFor="let color of colors">
      <ion-col>
        <ion-card class="background-white">
            <ion-card-content>
              {{color}}
            </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="background-beige">
            <ion-card-content>
              Beige
            </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="background-yellow">
            <ion-card-content>
              Yellow
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>