.main-parent{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: table;
  width: 100%;
  background: #ffffff;
  .main-child{
      display: table-cell;
      vertical-align: middle;
      img.logo {
          height: 100px;
          margin-bottom: 20px;
      }
      a {
          color: #2b2b2b;
      }
      mat-error {
          margin: 5px 0 0 -10px;
      }
  }
}