<ion-header>
  <ion-toolbar>
    <ion-title>
      Leave Details
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-title class="title">Waste Management System</ion-title>
      <ion-grid>
        <ion-row>
            <ion-col size="4" offset="4">
              <ion-img src="../../assets/images/wms-logo.png" alt="logo"></ion-img>
            </ion-col>
       </ion-row>
    </ion-grid>

    <ion-card>
      <ion-title class="card-title">Details</ion-title>

      <div *ngFor="let ml of myLeaves; let i = index">
        <ion-item>
          <p class="heading-para">Type Of Leave: {{ml.leaveType}}</p>
        </ion-item>
        <ion-item>
          <p class="heading-para">From: {{startDate}}</p>
        </ion-item>
        <ion-item>
          <p class="heading-para">To: {{endDate}}</p>
        </ion-item>
        <ion-item>
          <p class="heading-para">Reason: {{ml.reason}}</p>
        </ion-item>
        <ion-item>
          <p class="heading-para">Status: {{ml.status}}</p>
        </ion-item>
      </div>
    </ion-card>
    </ion-content>