<ion-header>
  <ion-toolbar>
    <ion-title>
      Leave Details
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-title class="title">Waste Management System</ion-title>
      <ion-grid>
        <ion-row>
            <ion-col size="4" offset="4">
              <ion-img src="../../assets/images/wms-logo.png" alt="logo"></ion-img>
            </ion-col>
       </ion-row>
    </ion-grid>

    <ion-card>
      <ion-title class="card-title">Details</ion-title>
      <ion-row>
        <ion-col>
          <ion-card-content class="bold-text">
          Type of Leave
        </ion-card-content>
      </ion-col>
        <ion-col>
          <ion-card-content class="bold-text">
          Casual
        </ion-card-content>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card-content class="bold-text">
            Total Off days
        </ion-card-content>
      </ion-col>
        <ion-col>
          <ion-card-content class="bold-text">
          5
        </ion-card-content>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card-content class="bold-text">
          From
        </ion-card-content>
      </ion-col>
        <ion-col>
          <ion-card-content class="bold-text">
            23/5/2019
        </ion-card-content>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card-content class="bold-text">
          To
        </ion-card-content>
      </ion-col>
        <ion-col>
          <ion-card-content class="bold-text">
            28/5/2019
        </ion-card-content>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card-content class="bold-text">
          Reason
        </ion-card-content>
      </ion-col>
        <ion-col>
          <ion-card-content class="bold-text">
            To attend a wedding ceremony
        </ion-card-content>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card-content class="bold-text">
          Status
        </ion-card-content>
      </ion-col>
        <ion-col>
          <ion-card-content class="bold-text">
          Approved
        </ion-card-content>
      </ion-col>
      </ion-row>
    </ion-card>
    </ion-content>