<ion-content>

    <div class="main-parent">
        <div class="main-child">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h4><span class="h4">Change Password</span></h4>
                        <form [formGroup]="form">
                            <div class="profile">
                                <mat-form-field appearance="outline">
                                    <mat-label>Old Password </mat-label>
                                    <input type="password" formControlName="password" matInput placeholder="Enter Old Password...">
                                    <mat-icon matSuffix>lock_open</mat-icon>
                                    <mat-error>{{ passwordError() }}</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>New Password </mat-label>
                                    <input type="password" formControlName="newPassword" matInput placeholder="Enter New Password...">
                                    <mat-icon matSuffix>lock</mat-icon>
                                    <mat-error>{{ newPasswordError() }}</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="mb-4">
                                    <mat-label>Reenter New Password </mat-label>
                                    <input type="password" formControlName="newPasswordMatch" matInput placeholder="Re-Enter Password...">
                                    <mat-icon matSuffix>lock</mat-icon>
                                    <mat-error>{{ newPasswordMatchError() }}</mat-error>
                                </mat-form-field>
                        
                                <button mat-raised-button class="mr-2" routerLink="/screen/my-profile"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                                <button mat-raised-button (click)="updatePassword()" [disabled]="isProcessing"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>